body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

th, td {
    width: 100px;
}

table {
    width: 500px;
    border: 1px solid black;
    text-align: center;
}

.average {
    color: orange;
}

.name {
    color: Gray;
    font-weight: bold;
}

.occupation {
    color: lightslategray;
    font-style: italic;
}

.price {
    color: green;
    font-weight: bold;
}